<h4 class="pink">
    <i class="ace-icon fa fa-hand-o-right icon-animated-hand-pointer blue"></i>
    <a href="#modal-table" role="button" class="green" data-toggle="modal"> Progress Monitor Box </a>
</h4>
<div id="modal-table" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span class="white">&times;</span>
                    </button>
                    Results for "........"
                </div>
            </div>
            <div class="modal-body no-padding">
                <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
                    <thead>
                    <tr>
                        <th>Header1</th>
                        <th>Header2</th>
                        <th>Header3</th>
                        <th>
                            <i class="ace-icon fa fa-clock-o bigger-110"></i>
                            Header3 Icon
                        </th>
                        <th>Header3</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>
                            <a href="https://www.lingkungshop.com"> Apple.com</a>
                        </td>
                        <td>45</td>
                        <td>3,330</td>
                        <td>
                            <div class="easy-pie-chart percentage" data-percent="100" data-color="#87B87F">
                                <span class="percent">100</span>%
                            </div>
                        </td>
                        <td><a href="#" class="btn btn-info btn-default" disabled="disabled" > Process 1</a></td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">google.com</a>
                        </td>
                        <td>35</td>
                        <td>2,595</td>
                        <td>
                            <div class="easy-pie-chart percentage" data-percent="20" data-color="#87B87F">
                                <span class="percent">20</span>%
                            </div>
                        </td>
                        <td><a href="#" class="btn btn-info btn-default" > Process 2</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer no-margin-top">
                <button class="btn btn-sm btn-danger pull-left" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                    ปิด
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
