@using WEBAPP.Helper
@using FluentBootstrap

@Html.GetVSMModalBegin("PrivacyPolicy",Translation.CenterLang.Center.PrivacyPolicy,
    ModalSize.Lg,
    false,
    false))

@using (var rowMain = Html.Bootstrap().GridRow().Begin())
{
    using (rowMain.GridColumn(12).SetXs(12).Begin())
    {
        <div>

            สำนักงานคณะกรรมการกำกับและส่งเสริมการประกอบธุรกิจประกันภัย (“สำนักงาน คปภ.”) จัดทำนโยบายคุ้มครองความเป็นส่วนตัวฉบับนี้ขึ้นเพื่อคุ้มครองความเป็นส่วนตัวของท่านซึ่งได้แวะเข้าเยี่ยมชมหรือใช้งานเว็บไซต์ของสำนักงาน คปภ.  นโยบายคุ้มครองความเป็นส่วนตัวฉบับนี้อาจมีการเปลี่ยนแปลงได้ โดยการเปลี่ยนแปลงทั้งหมดจะแสดงอยู่บนเว็บไซต์นี้

            <h4>ขอบเขตของนโยบาย</h4>

            นโยบายฉบับนี้ครอบคลุมถึงการปฏิบัติของสำนักงาน คปภ. ต่อข้อมูลส่วนบุคคลที่ได้รับหรือจัดเก็บอันสืบเนื่องมาจากการที่ท่านเข้าเยี่ยมชมหรือใช้งานเว็บไซต์นี้ โดยข้อมูลส่วนบุคคล หมายถึง  ข้อมูลที่ทำให้สามารถระบุได้ถึงตัวตนของบุคคล และมิใช่ข้อมูลที่โดยปกติสาธารณชนจะเข้าถึงได้  ตัวอย่างของข้อมูลส่วนบุคคล เช่น ชื่อ อายุ เพศ สัญชาติ เลขที่บัตรประจำตัวหรือหนังสือเดินทาง ที่อยู่หรือที่ทำงาน หมายเลขโทรศัพท์ หรือที่อยู่ทางไปรษณีย์อิเล็กทรอนิกส์ เป็นต้น

            นโยบายฉบับนี้ไม่ได้ใช้กับเว็บไซต์ของบุคคลที่สามซึ่งเชื่อมโยงมายังเว็บไซต์ของสำนักงาน คปภ. หรือเชื่อมโยงไปจากเว็บไซต์ของสำนักงาน คปภ.  ดังนั้น ขอให้ท่านทำความเข้าใจนโยบายคุ้มครองความเป็นส่วนตัวที่จัดทำโดยเว็บไซต์เหล่านั้นด้วยการปฏิบัติต่อข้อมูลส่วนบุคคลตามนโยบายฉบับนี้ อยู่ภายใต้พระราชบัญญัติประกันชีชีวิต พ.ศ. 2535 แก้ไขเพิ่มเติม 2551 พระราชบัญญัติประกันวินาศภัย พ.ศ. 2535 แก้ไขเพิ่มเติม 2551 และพ.ร.บ. คุ้มครองผู้ประสบภัยจากรถ พ.ศ. 2535 แก้ที่แก้ไขเพิ่มเติม

            <h4>
                การเก็บข้อมูลส่วนบุคคลของผู้ใช้งาน
            </h4>

            ท่านที่ประสงค์จะใช้บริการบางประเภทที่ดำเนินการผ่านเว็บไซต์นี้ อาจต้องให้ข้อมูลส่วนบุคคลของท่านที่จำเป็นต่อการให้บริการดังกล่าว ตัวอย่างของการดำเนินการที่ผู้ใช้บริการต้องแจ้งข้อมูลส่วนบุคคล เช่น การลงทะเบียนสัมมนา หรือการบอกรับเป็นสมาชิกข่าวสารออนไลน์ เป็นต้น

            <h4>
                การใช้ การแลกเปลี่ยน และการเปิดเผยข้อมูลส่วนบุคคลของผู้ใช้งาน
            </h4>

            สำนักงาน คปภ. จะไม่นำข้อมูลส่วนบุคคลของท่านไปจำหน่าย หรือนำไปแลกเปลี่ยนหรือเปิดเผยต่อบุคคลอื่นใด อันเป็นการไม่สอดคล้องกับวัตถุประสงค์ของการรวบรวมและจัดเก็บข้อมูลส่วนบุคคลของท่าน  เว้นแต่ ในกรณีดังต่อไปนี้

            เป็นการดำเนินการตามกฎหมายที่อยู่ในการกำกับดูแลของสำนักงาน คปภ.
            เป็นการดำเนินการตามหน้าที่ที่กำหนดตามกฎหมาย ตามคำสั่งศาล ตามคำสั่งของผู้มีอำนาจตามกฎหมาย หรือกรณีอื่นใดที่มีลักษณะทำนองเดียวกัน หรือ
            เป็นการดำเนินการตามที่จำเป็นในกรณีที่อาจกระทบถึงความปลอดภัยในสวัสดิภาพ ชีวิต และร่างกายของบุคคลอื่น หรือในกรณีที่มีการละเมิดข้อตกลงและเงื่อนไขในการใช้เว็บไซต์ของสำนักงาน คปภ.

            <h4>
                การแก้ไขข้อมูลส่วนบุคคล
            </h4>

            ท่านสามารถขอแก้ไขข้อมูลส่วนบุคคลของท่านให้มีความถูกต้องและเป็นปัจจุบัน ได้โดยการยื่นความจำนงผ่านแบบที่กำหนดบน “Online Service” และดำเนินการตามคำแนะนำที่ได้รับบนหน้าดังกล่าว  ในการนี้ โปรดทราบว่าการแก้ไขข้อมูลบางรายการจะมีผลสมบูรณ์ก็ต่อเมื่อมีการยืนยันความถูกต้องของรายการที่ขอแก้ไขนั้นตามวิธีการที่กำหนดแล้ว

            ระบบรักษาความปลอดภัย

            สำนักงาน คปภ. ใช้ช่องทางมั่นคงปลอดภัย Secure Socket Layer (SSL) Protocol เพื่อจัดให้การสื่อสารข้อมูลระหว่างผู้ใช้และสำนักงาน คปภ.  กระทำผ่านช่องทางสื่อสารแบบปลอดภัยด้วยการเข้ารหัสลับข้อมูล

            <h4>
                การใช้คุกกี้
            </h4>

            สำนักงาน คปภ. ไม่ได้ใช้คุกกี้ในการเก็บข้อมูลของท่าน  (คุกกี้คือเครื่องมือที่ใช้เพื่อเก็บข้อมูลเกี่ยวกับท่านและการเยี่ยมชมเว็บไซต์ ซึ่งข้อมูลดังกล่าวจะช่วยให้เว็บไซต์นั้นสามารถให้บริการท่านในครั้งต่อไปได้ตรงตามความต้องการของท่าน นอกจากนี้ข้อมูลที่เก็บโดยคุกกี้ยังสามารถใช้เพื่อวัตถุประสงค์ทางการตลาดได้ด้วย)  อนึ่ง หากท่านเข้าเยี่ยมชมเว็บไซต์ของสำนักงาน คปภ. โดยใช้โปรแกรมค้นผ่าน (search engine) โปรแกรมค้นผ่านดังกล่าวอาจมีการใช้คุกกี้เพื่อเก็บข้อมูลของท่าน ท่านจึงควรศึกษานโยบายคุ้มครองความเป็นส่วนตัวที่กำหนดโดยโปรแกรมค้นผ่านดังกล่าวด้วย

            หากมีข้อแนะนำโปรดติดต่อ

            สำนักงานคณะกรรมการกำกับและส่งเสริมการประกอบธุรกิจประกันภัย
            22/79 ถนนรัชดาภิเษก แขวงจันทรเกษม เขตจตุจักร กรุงเทพมหานคร 10900
            โทร. 0-2515-3999 โทรสาร. 0-2515-3970
            Email: webmaster@oic.or.th

        </div>
    }
}
@*@Html.GetVSMModalEnd("PrivacyPolicy")*@


@Html.GetVSMModalEnd("PrivacyPolicy",
    new ButtonConfig("OK")
    {
        Text = Translation.CenterLang.Center.Close,
        IconCssClass = FaIcons.FaCheckCircle,
        IconColor = TextColor.green,
        Url = "#\" data-dismiss=\"modal\""
    })
