@using WEBAPP.Helper
@using FluentBootstrap

@Html.GetVSMModalBegin("TermsofService",
    Translation.CenterLang.Center.TermsofService,
    ModalSize.Lg,
    false,
    false)
@using (var rowMain = Html.Bootstrap().GridRow().Begin())
{   
    using (rowMain.GridColumn(12).SetXs(12).Begin())
    {
        <div>
            <p>
                ผู้ใช้บริการทางอินเทอร์เน็ตของสำนักงาน คปภ. ตกลงผูกพันและปฏิบัติตามเงื่อนไขและข้อกำหนดการใช้บริการ ดังต่อไปนี้
            </p>
            <p>
                1. บริการทางอินเทอร์เน็ตของสำนักงาน คปภ. เป็นการให้บริการแก่ผู้ใช้งานที่เป็นบริษัทประกันภัย เพื่ออำนวยความสะดวกในการเข้าถึงข้อมูลที่เป็นการให้บริการจากสำนักงาน คปภ. รวมถึงการให้บริการอื่น ๆ ที่สำนักงาน คปภ. จะจัดให้มีขึ้นต่อไปในอนาคต 
            </p>
            <p>
                2. การกระทำใด ๆ ที่กระทำผ่านการให้บริการทางอินเทอร์เน็ตของสำนักงาน คปภ. หรือการนำข้อมูลใด ๆ ที่ได้จากการให้บริการทางอินเทอร์เน็ตของสำนักงาน คปภ. โดยใช้รหัสประจำตัว (User ID) และ รหัสผ่าน (Password) ของผู้ใช้บริการ ไม่ว่าการกระทำนั้นจะเกิดขึ้นโดยผู้ใช้บริการหรือบุคคลอื่นใด ผู้ใช้บริการตกลงให้ถือว่า เป็นการกระทำของผู้ใช้บริการเอง ซึ่งผู้ใช้บริการยินยอมรับผิดชอบในการกระทำดังกล่าวเสมือนว่าผู้ใช้บริการเป็นผู้กระทำด้วยตนเอง เว้นแต่ได้แจ้งอายัดรหัสประจำตัวไว้ล่วงหน้า
            </p>
            <p>
                3. ผู้ใช้บริการตกลงว่าสำนักงาน คปภ. ไม่ต้องรับผิดชอบ ต่อความเสียหายใด ๆ ที่เกิดขึ้นหรืออาจเกิดขึ้นกับผู้ใช้บริการ หรือบุคคลภายนอกจากการเข้าใช้บริการทางอินเทอร์เน็ตของสำนักงาน คปภ. ไม่ว่าโดยเหตุประการใด
            </p>
            <p>
                4. ในกรณีจำเป็น สำนักงาน คปภ. ขอสงวนสิทธิ ในการเปลี่ยนแปลงเงื่อนไขและข้อกำหนดในการใช้ บริการและ/ หรือยกเลิกการให้บริการทางอินเทอร์เน็ตของสำนักงาน คปภ. ตามที่เห็นสมควร โดยไม่จำเป็นต้องแจ้งให้ผู้ใช้งานทราบล่วงหน้า
            </p>
            <p>
                5. ผู้ใช้บริการตกลงและยินยอมปฏิบัติตามเงื่อนไขและข้อกำหนดสำหรับการเข้าใช้บริการทางอินเทอร์เน็ตของสำนักงาน คปภ. ตามที่ได้กำหนดในเอกสารนี้ รวมถึงเงื่อนไขและข้อกำหนดอื่นใดที่จะจัดให้มีขึ้นในภายหน้า และการปฏิบัติตามกฎหมายและกฎระเบียบต่าง ๆ ที่เกี่ยวข้องในการเข้าใช้บริการทางอินเทอร์เน็ตของสำนักงาน คปภ.
            </p>
            <p>
                6. เงื่อนไขและข้อกำหนดการใช้ บริการทางอินเทอร์เน็ตของสำนักงาน คปภ. นี้ ให้ใช้บังคับและตีความตามกฎหมายไทย และอยู่ภายใต้เขตอำนาจของศาลไทย ในการพิจารณาข้อพิพาทใดๆ ที่เกิดขึ้นตามเงื่อนไขและข้อกำหนดการใช้ บริการทางอินเทอร์เน็ตของสำนักงาน คปภ. นี้
            </p>
        </div>
    }
}

@Html.GetVSMModalEnd("TermsofService",
    new ButtonConfig("OK")
    {
        Text = Translation.CenterLang.Center.OK,
        IconCssClass = FaIcons.FaCheckCircle,
        IconColor = TextColor.green,
        Url = "#\" data-dismiss=\"modal\""
    })
