
@{


}
<div class="pull-right tableTools-container">
    <div class="btn-group btn-overlap">
        <button type="submit" name="button" value="ExportExcel" class="btn btn-white btn-primary btn-bold">
            <i class="fa fa-file-excel-o bigger-110 green"></i>
        </button>
        <button type="submit" name="button" value="ExportPDF" class="btn btn-white btn-primary btn-bold">
            <i class="fa fa-file-pdf-o bigger-110 red"></i>
        </button>
    </div>
</div>
