<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <!--<connectionStrings>
    <clear />
    -->
  <!--<add name="Connection" connectionString="Data Source=127.0.0.1;Persist Security Info=True;User ID=sa;Password=P@ssw0rd;Initial Catalog=AAT_SEC" />
    <add name="Connection2" connectionString="Data Source = (DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.16.145)(PORT = 1521)) (CONNECT_DATA =  (SERVER = DEDICATED) (SERVICE_NAME = webapp))); User Id =OCRR_PH2;Password= passw0rd;Persist Security Info=True;" />-->
  <!--
    <add name="AATEntities" connectionString="metadata=res://*/ModelManger.csdl|res://*/ModelManger.ssdl|res://*/ModelManger.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.80.1.231;Persist Security Info=True;User ID=sa;Password=P@ssw0rd;Initial Catalog=FZDB;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
  <log4net debug="true">
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\error.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %.20C{1}.%M - %m%n" />
      </layout>
    </appender>
    <appender name="RollingFileAppenderProcess" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\Process.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %M - %m%n" />
      </layout>
    </appender>
    <logger name="RootLogger">
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
    </logger>
    <logger name="ProcessLogger">
      <level value="ALL" />
      <appender-ref ref="RollingFileAppenderProcess" />
    </logger>
  </log4net>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--<authentication mode="Windows">-->
    <authentication mode="Forms">
      <forms loginUrl="~/Users/Account/" defaultUrl="~/Admin/Default/" timeout="20" slidingExpiration="true" />
    </authentication>
    <compilation debug="true" targetFramework="4.6.2">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6.2" maxRequestLength="2097151" />
    <globalization culture="en-US" />
    <!--<authentication mode="Windows"/>-->
    <!--<httpHandlers>
      -->
    <!-- Required by Microsoft ReportViewer control -->
    <!--
      <add verb="*" path="Reserved.ReportViewerWebControl.axd" type = "Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </httpHandlers>-->
    <!--<customErrors mode="On" defaultRedirect="~/Users/Account/Error">
      -->
    <!--<error statusCode="404" redirect="~/Error/NotFound"/>
      <error statusCode="403" redirect="~/Error/BadRequest"/>-->
    <!--
    </customErrors>-->
  </system.web>
  <!--<location path="Areas">
    <system.web>
      <customErrors mode="On" defaultRedirect="~/Error/Index">
        <error statusCode="404" redirect="~/Error/NotFound"/>
        <error statusCode="403" redirect="~/Error/BadRequest"/>
      </customErrors>
    </system.web>
  </location>-->
  <system.webServer>
    <!--<httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404"/>
      <error statusCode="404" responseMode="Redirect" path="/Users/Account/Error"/>
      <remove statusCode="500"/>
      <error statusCode="500" path="/Users/Account/Error" responseMode="Redirect" />
    </httpErrors>-->
    <!--<modules>
      <remove name="FormsAuthentication" />
    </modules>-->
    <!--<modules runAllManagedModulesForAllRequests="true">
      <remove name="BundleModule" />
      <add name="BundleModule" type="System.Web.Optimization.BundleModule" />
    </modules>
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension="woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>-->
    <handlers>
      <!-- Required by Microsoft ReportViewer control -->
      <remove name="ReportViewerWebControlHandler" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--กำหนด Encription DataBase Connect -->
    <add key="EncriptDBConnect" value="false" />

    <!--กำหนด Key สำหรับ reCAPTCHA google จาก Domain-->
    <add key="reCaptchaSiteKey" value="6LfnxA4UAAAAAIQLjQfIV2IL0fKxQhmGpVW5-3Qz" />
    <add key="reCaptchaSecretKey" value="6LfnxA4UAAAAAIFWP96uvhTTmycYl26kglT1U_tI" />
    <add key="uploadPath" value="~/Uploads/" />
    <add key="templatePath" value="~/Uploads/Template/" />
    <add key="tempPath" value="~/Temp/" />
    <add key="MonthEndFilePath" value="~/Uploads/MonthEnd/FILE/" />
    <!--กำหนดว่าให้เข้า Url ได้ตามสิทธิ์ Block = true,None Block = false -->
    <add key="BlockedUrlByPermission" value="true" />
    <add key="GoogleMapKey" value="AIzaSyB1oa6jHpE8yJknVFlraS-gHobMjxtY7Hk" />
    <add key="SysApplication" value="" />
    <!-- Token Duration Reset password (Minutes)-->
    <add key="TokenDuration" value="30" />
    <!-- แบน IP (Minutes)-->
    <add key="BanedLoginIPCount" value="3" />
    <add key="BanedLoginIPTime" value="1" />
    <add key="BanedIPDuration" value="5" />
    <!-- Max Parallel Process-->
    <add key="MaxParallelProcess" value="4" />
    <!-- Report-->
    <add key="REPORT_SERVER_NAME" value="10.80.1.231" />
    <add key="REPORT_FOLDER_NAME" value="ReportingFZMS" />
    <!-- FTP-->
    <add key="FTP_BON_TEMP_PATH" value="C:\Inetpub\ftproot\FZMSLOAD\" />
    <add key="FTP_BON_BK_PATH" value="C:\Inetpub\ftproot\BK\" />
    <add key="IS_ENCRYPTED_CONFIG" value="FALSE" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>